//- div This is the sta001 view.

.container
  .row
    .col-lg-12(
      style = "background-color:DarkGoldenRod")
      h1.page-header DEBUG
      .container
        //- https://jsfiddle.net/sirhc/z9cGm/
        div.col-lg-12
          | obj in 
          pre {{ $ctrl.objsInArr | json }}
          code {{ $ctrl.objsInArr | json }}
          ul
            li(ng-repeat="obj in $ctrl.objsInArr")
              | $index = {{$index}}, $ctrl.objsInArr[$index].str = 
              input(ng-model="$ctrl.objsInArr[$index].str")
        div.col-lg-12
          ul.list-unstyled
            li
              label sta001s
            li
              pre {{$ctrl.sta001s | json}}

.container
  .row
    .col-lg-12
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "Generate"
          ng-class = "{'btn-primary': $ctrl.GenerateView, 'btn-default': !$ctrl.GenerateView}"
          ng-click = "$ctrl.GenerateView = !$ctrl.GenerateView")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!$ctrl.GenerateView")  GENERATE
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "$ctrl.GenerateView")  GENERATE
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "Manage"
          ng-init = "ManageView = true;"
          ng-class = "{'btn-primary': ManageView, 'btn-default': !ManageView}"
          ng-click = "ManageView = !ManageView")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!ManageView")  MANAGE
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "ManageView")  MANAGE
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "Import"
          ng-init = "ImportView = false;"
          ng-class = "{'btn-primary': ImportView, 'btn-default': !ImportView}"
          ng-click = "ImportView = !ImportView")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!ImportView")  IMPORT
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "ImportView")  IMPORT
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "Export"
          ng-init = "ExportView = false;"
          ng-class = "{'btn-primary': ExportView, 'btn-default': !ExportView}"
          ng-click = "ExportView = !ExportView")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!ExportView")  EXPORT
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "ExportView")  EXPORT
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "Deploy"
          ng-init = "DeployView = false;"
          ng-class = "{'btn-primary': DeployView, 'btn-default': !DeployView}"
          ng-click = "DeployView = !DeployView")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!DeployView")  DEPLOY
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "DeployView")  DEPLOY
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "Configure"
          ng-init = "ConfigureView = false;"
          ng-class = "{'btn-primary': ConfigureView, 'btn-default': !ConfigureView}"
          ng-click = "ConfigureView = !ConfigureView")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!ConfigureView")  CONFIGURE
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "ConfigureView")  CONFIGURE


.container
  .row
    .col-lg-12(
      ng-show = "ManageView")
      h1.page-header MANAGE
      .container.borded
        div.col-lg-12
          div.col-lg-12
            ul.list-unstyled
              li(ng-repeat = "sta001 in $ctrl.sta001s") 
                button.btn.btn-default(
                  ng-click = "$ctrl.deleteSta001(sta001)")
                  span.glyphicon.glyphicon-trash(
                    aria-hidden = "true")  delete
                button.btn.btn-default(
                  ng-show = "!sta001.online"
                  ng-click = "$ctrl.invertSta001Online(sta001)")
                  span.glyphicon.glyphicon-cloud-upload(
                    aria-hidden = "true")  set online
                button.btn.btn-primary(
                  ng-show = "sta001.online"
                  ng-click = "$ctrl.invertSta001Online(sta001)")
                  span.glyphicon.glyphicon-cloud-download(
                    aria-hidden = "true")  set offline
                button.btn.btn-default(
                  ng-click = "$ctrl.duplicateSta001(sta001)")
                  //- i.fa.fa-car(
                  //-   aria-hidden="true") duplicate
                  span.glyphicon.glyphicon-duplicate(
                    aria-hidden = "true")  duplicate
                button.btn.btn-default(
                  ng-click = "$ctrl.editSta001(sta001)")
                  span.glyphicon.glyphicon-pencil(
                    aria-hidden = "true")  edit


                | @[{{$index}}] [{{sta001.kitBarcode}}]


.container
  .row
    .col-lg-12(
      ng-show = "$ctrl.GenerateView")
      h1.page-header GENERATE
      .container.borded
        div.col-lg-12
          div.col-lg-12
            ul.list-unstyled.col-lg-3
              li
                label parameters
              li
                pre {{$ctrl.parameters | json}}
            ul.list-unstyled.col-lg-3
              li
                label productBarcodes
              li
                pre {{$ctrl.productBarcodes | json}}
            ul.list-unstyled.col-lg-3
              li
                label kitBarcode
              li
                pre {{$ctrl.kitBarcode | json}}
            ul.list-unstyled.col-lg-3
              li
                label kitBarcodeLines
              li
                pre {{$ctrl.kitBarcodeLines | json}}
          div.col-lg-12()
            ul.list-unstyled
              li
                label kit structure
              li
                pre {{$ctrl.newSta001 | json}}
          div.col-lg-12(
            ng-form = "sta001-form")
            div.col-lg-12
              div(ng-class = "{'col-lg-9': $ctrl.isKitBarcodePreviewEnabled, 'col-lg-11': !$ctrl.isKitBarcodePreviewEnabled}")
                div.col-lg-12
                  ul.list-unstyled
                    li
                      label kit barcode
                    li
                      pre {{$ctrl.kitBarcode | json}}
                div.col-lg-12
                  div.form-group.col-lg-4
                    label kit code
                    input.form-control(
                      type = "text"
                      id = "sta001InputKitCode"
                      placeholder = "KitCode"
                      ng-model = "$ctrl.newSta001.input.kitCode"
                      ng-change = "$ctrl.generate()")
                  div.form-group.col-lg-4
                    label kit lot
                    input.form-control(
                      type = "text"
                      id = "sta001InputLot"
                      placeholder = "kitLot",
                      ng-model = "$ctrl.newSta001.input.kitLot"
                      ng-change = "$ctrl.generate()")
                  div.form-group.col-lg-4
                    label kit expiry
                    input.form-control(
                      type = "text",
                      id = "sta001InputExpiry",
                      placeholder = "kitExpiry",
                      ng-model = "$ctrl.newSta001.input.kitExpiry",
                      ng-change = "$ctrl.generate()")
              div(ng-class = "{'col-lg-3': $ctrl.isKitBarcodePreviewEnabled, 'col-lg-1': !$ctrl.isKitBarcodePreviewEnabled}")
                ul.list-unstyled
                  li
                    button.btn.btn-default(
                      ng-show = "!$ctrl.isKitBarcodePreviewEnabled",
                      ng-click = "$ctrl.isKitBarcodePreviewEnabled = true; $ctrl.generate();")
                      | SHOW 
                      span.glyphicon.glyphicon-barcode(
                        aria-hidden = "true") 
                    button.btn.btn-primary(
                      ng-show = "$ctrl.isKitBarcodePreviewEnabled",
                      ng-click = "$ctrl.isKitBarcodePreviewEnabled = false")
                      | HIDE 
                      span.glyphicon.glyphicon-barcode(
                        aria-hidden = "true")
                ul.list-unstyled.kitBarcodePreview.col-lg-12(
                  style = "background-color: black")
            div.col-lg-12
              div(ng-class = "{'col-lg-9': $ctrl.isProductBarcodesPreviewEnabled, 'col-lg-11': !$ctrl.isProductBarcodesPreviewEnabled}")
                div.form-group.col-lg-4
                  label parameters count
                  input.form-control(
                    type = "number"
                    id = "sta001InputParametersCount"
                    ng-model = "$ctrl.newSta001.input.parametersCount"
                    ng-change = "$ctrl.parametersCountChange()"
                    min = "0")
                  ul.list-unstyled
                    li(ng-repeat = "parameter in $ctrl.getParameters() track by $index")
                      label parameter ({{$index}})
                      input.form-control(
                        type = "text",
                        id = "sta001InputParameter{{$index}}"
                        placeholder = "Parameter{{$index}}"
                        ng-model = "$ctrl.newSta001.input.parameters[$index]"
                        ng-change = "$ctrl.generate()")
                      //- ng-model="$ctrl.newSta001.input.parameters[$index]"
                      //- ng-model="$ctrl.parameters[$index]"
                      //- ng-change="$ctrl.generate()")
                div.form-group.col-lg-8
                  label products count
                  input.form-control(
                    type = "number"
                    id = "sta001InputProductsCount"
                    ng-model = "$ctrl.newSta001.input.productsCount"
                    ng-change = "$ctrl.productsCountChange()"
                    min = "1"
                    max = "9")
                  ul.list-unstyled
                    li(ng-repeat = "productCode in $ctrl.getProductCodes() track by $index")
                      div.form-group.col-lg-6
                        label product code ({{$index}})
                        input.form-control(
                          type = "text",
                          id = "sta001InputProductCode{{$index}}"
                          placeholder = "ProductCode{{$index}}"
                          ng-model = "$ctrl.newSta001.input.productCodes[$index]"
                          ng-change = "$ctrl.generate()")
                      div.form-group.col-lg-6
                        label product barcode ({{$index}})
                        pre {{$ctrl.productBarcodes[$index] | json}}
                      //- ng-model="$ctrl.newSta001.input.productBarcodes[$index]"
                      //- ng-model="$ctrl.productBarcodes[$index]"
                      //- ng-change="$ctrl.generate()")
              div(ng-class="{'col-lg-3': $ctrl.isProductBarcodesPreviewEnabled, 'col-lg-1': !$ctrl.isProductBarcodesPreviewEnabled}")
                ul.list-unstyled
                  li
                    button.btn.btn-default(
                      ng-show = "!$ctrl.isProductBarcodesPreviewEnabled",
                      ng-click = "$ctrl.isProductBarcodesPreviewEnabled = true; $ctrl.generate();")
                      | SHOW 
                      span.glyphicon.glyphicon-barcode(
                        aria-hidden = "true")
                    button.btn.btn-primary(
                      ng-show = "$ctrl.isProductBarcodesPreviewEnabled",
                      ng-click = "$ctrl.isProductBarcodesPreviewEnabled = false")
                      | HIDE 
                      span.glyphicon.glyphicon-barcode(
                        aria-hidden = "true")
                ul.list-unstyled.productBarcodesPreview.col-lg-12(
                  style = "background-color: black")
            div.col-lg-12
              button.btn.btn-primary(
                type = "submit"
                ng-click = "$ctrl.saveSta001('create')") Create
              button.btn.btn-warning(
                type = "reset"
                ng-click = "$ctrl.clearSta001()") Clear
