//- div This is the sta001 view.

.container
  .row
    .col-lg-12(
      style = "background-color:DarkGoldenRod"
      ng-show = "isModeDebug")
      h1.page-header DEBUG
      .container
        //- https://jsfiddle.net/sirhc/z9cGm/
        div.col-lg-12
          | obj in 
          pre {{ $ctrl.objsInArr | json }}
          code {{ $ctrl.objsInArr | json }}
          ul
            li(ng-repeat="obj in $ctrl.objsInArr")
              | $index = {{$index}}, $ctrl.objsInArr[$index].str = 
              input(ng-model="$ctrl.objsInArr[$index].str")
        div.col-lg-12
          ul.list-unstyled
            li
              label sta001s
            li
              pre {{$ctrl.sta001s | json}}

.container
  .row
    .col-lg-12
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "generateVisible"
          ng-class = "{'btn-primary': $ctrl.generateVisible, 'btn-default': !$ctrl.generateVisible}"
          ng-click = "$ctrl.generateVisible = !$ctrl.generateVisible")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!$ctrl.generateVisible") GENERATE
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "$ctrl.generateVisible") GENERATE
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "manageVisible"
          ng-class = "{'btn-primary': $ctrl.manageVisible, 'btn-default': !$ctrl.manageVisible}"
          ng-click = "$ctrl.manageVisible = !$ctrl.manageVisible")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!$ctrl.manageVisible") MANAGE
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "$ctrl.manageVisible") MANAGE
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "importVisible"
          ng-class = "{'btn-primary': $ctrl.importVisible, 'btn-default': !$ctrl.importVisible}"
          ng-click = "$ctrl.importVisible = !$ctrl.importVisible")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!$ctrl.importVisible") IMPORT
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "$ctrl.importVisible") IMPORT
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "exportVisible"
          ng-class = "{'btn-primary': $ctrl.exportVisible, 'btn-default': !$ctrl.exportVisible}"
          ng-click = "$ctrl.exportVisible = !$ctrl.exportVisible")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!$ctrl.exportVisible") EXPORT
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "$ctrl.exportVisible") EXPORT
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "deployVisible"
          ng-class = "{'btn-primary': $ctrl.deployVisible, 'btn-default': !$ctrl.deployVisible}"
          ng-click = "$ctrl.deployVisible = !$ctrl.deployVisible")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!$ctrl.deployVisible") DEPLOY
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "$ctrl.deployVisible") DEPLOY
      .col-lg-2
        button.btn.btn-lg.btn-block(
          type = "button"
          aria-label = "configureVisible"
          ng-class = "{'btn-primary': $ctrl.configureVisible, 'btn-default': !$ctrl.configureVisible}"
          ng-click = "$ctrl.configureVisible = !$ctrl.configureVisible")
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "!$ctrl.configureVisible") CONFIGURE
          span.glyphicon.glyphicon-zoom-in(
            aria-hidden = "true"
            ng-show = "$ctrl.configureVisible") CONFIGURE

.container
  .row
    .col-lg-12(
      ng-show = "$ctrl.manageVisible")
      h1.page-header MANAGE
      .container.borded
        div.col-lg-12
          div.col-lg-12
            ul.list-unstyled
              li(ng-repeat = "sta001 in $ctrl.sta001s") 
                button.btn.btn-default(
                  ng-click = "$ctrl.deleteSta001(sta001)")
                  span.glyphicon.glyphicon-trash(
                    aria-hidden = "true")  delete
                button.btn.btn-default(
                  ng-show = "!sta001.online"
                  ng-click = "$ctrl.invertSta001Online(sta001)")
                  span.glyphicon.glyphicon-cloud-upload(
                    aria-hidden = "true")  set online
                button.btn.btn-primary(
                  ng-show = "sta001.online"
                  ng-click = "$ctrl.invertSta001Online(sta001)")
                  span.glyphicon.glyphicon-cloud-download(
                    aria-hidden = "true")  set offline
                button.btn.btn-default(
                  ng-click = "$ctrl.copySta001(sta001)")
                  span.glyphicon.glyphicon-duplicate(
                    aria-hidden = "true")  copy
                button.btn.btn-default(
                  ng-click = "$ctrl.editSta001(sta001)")
                  span.glyphicon.glyphicon-pencil(
                    aria-hidden = "true")  edit
                | @[{{$index}}]  [{{sta001._id}}] [{{sta001.kitBarcode}}] [{{sta001.input.kitCode}}]

.container
  .row
    .col-lg-12(
      ng-show = "$ctrl.generateVisible")
      h1.page-header GENERATE
      .container.borded
        div.col-lg-12
          div.col-lg-12
            ul.list-unstyled.col-lg-3
              li
                label parameters
              li
                pre {{$ctrl.parameters | json}}
            ul.list-unstyled.col-lg-3
              li
                label productBarcodes
              li
                pre {{$ctrl.productBarcodes | json}}
            ul.list-unstyled.col-lg-3
              li
                label kitBarcode
              li
                pre {{$ctrl.kitBarcode | json}}
            ul.list-unstyled.col-lg-3
              li
                label kitBarcodeLines
              li
                pre {{$ctrl.kitBarcodeLines | json}}
          div.col-lg-12()
            ul.list-unstyled
              li
                label kit structure
              li
                pre {{$ctrl.formSta001 | json}}
          div.col-lg-12(
            ng-form = "sta001-form")
            div.col-lg-12
              div(ng-class = "{'col-lg-9': $ctrl.isKitBarcodePreviewEnabled, 'col-lg-11': !$ctrl.isKitBarcodePreviewEnabled}")
                div.col-lg-12
                  ul.list-unstyled
                    li
                      label kit barcode
                    li
                      pre {{$ctrl.kitBarcode | json}}
                div.col-lg-12
                  div.form-group.col-lg-4
                    label kit code
                    input.form-control(
                      type = "text"
                      id = "sta001InputKitCode"
                      placeholder = "KitCode"
                      ng-model = "$ctrl.formSta001.input.kitCode"
                      ng-change = "$ctrl.generate()")
                  div.form-group.col-lg-4
                    label kit lot
                    input.form-control(
                      type = "text"
                      id = "sta001InputLot"
                      placeholder = "kitLot",
                      ng-model = "$ctrl.formSta001.input.kitLot"
                      ng-change = "$ctrl.generate()")
                  div.form-group.col-lg-4
                    label kit expiry
                    input.form-control(
                      type = "text",
                      id = "sta001InputExpiry",
                      placeholder = "kitExpiry",
                      ng-model = "$ctrl.formSta001.input.kitExpiry",
                      ng-change = "$ctrl.generate()")
              div(ng-class = "{'col-lg-3': $ctrl.isKitBarcodePreviewEnabled, 'col-lg-1': !$ctrl.isKitBarcodePreviewEnabled}")
                ul.list-unstyled
                  li
                    button.btn.btn-default(
                      ng-show = "!$ctrl.isKitBarcodePreviewEnabled",
                      ng-click = "$ctrl.isKitBarcodePreviewEnabled = true; $ctrl.generate();")
                      | SHOW 
                      span.glyphicon.glyphicon-barcode(
                        aria-hidden = "true") 
                    button.btn.btn-primary(
                      ng-show = "$ctrl.isKitBarcodePreviewEnabled",
                      ng-click = "$ctrl.isKitBarcodePreviewEnabled = false")
                      | HIDE 
                      span.glyphicon.glyphicon-barcode(
                        aria-hidden = "true")
                ul.list-unstyled.kitBarcodePreview.col-lg-12(
                  style = "background-color: black")
            div.col-lg-12
              div(ng-class = "{'col-lg-9': $ctrl.isProductBarcodesPreviewEnabled, 'col-lg-11': !$ctrl.isProductBarcodesPreviewEnabled}")
                div.form-group.col-lg-4
                  label parameters count
                  input.form-control(
                    type = "number"
                    id = "sta001InputParametersCount"
                    ng-model = "$ctrl.formSta001.input.parametersCount"
                    ng-change = "$ctrl.parametersCountChange()"
                    min = "0")
                  ul.list-unstyled
                    li(ng-repeat = "parameter in $ctrl.getParameters() track by $index")
                      label parameter ({{$index}})
                      input.form-control(
                        type = "text",
                        id = "sta001InputParameter{{$index}}"
                        placeholder = "Parameter{{$index}}"
                        ng-model = "$ctrl.formSta001.input.parameters[$index]"
                        ng-change = "$ctrl.generate()")
                      //- ng-model="$ctrl.formSta001.input.parameters[$index]"
                      //- ng-model="$ctrl.parameters[$index]"
                      //- ng-change="$ctrl.generate()")
                div.form-group.col-lg-8
                  label products count
                  input.form-control(
                    type = "number"
                    id = "sta001InputProductsCount"
                    ng-model = "$ctrl.formSta001.input.productsCount"
                    ng-change = "$ctrl.productsCountChange()"
                    min = "1"
                    max = "9")
                  ul.list-unstyled
                    li(ng-repeat = "productCode in $ctrl.getProductCodes() track by $index")
                      div.form-group.col-lg-6
                        label product code ({{$index}})
                        input.form-control(
                          type = "text",
                          id = "sta001InputProductCode{{$index}}"
                          placeholder = "ProductCode{{$index}}"
                          ng-model = "$ctrl.formSta001.input.productCodes[$index]"
                          ng-change = "$ctrl.generate()")
                      div.form-group.col-lg-6
                        label product barcode ({{$index}})
                        pre {{$ctrl.productBarcodes[$index] | json}}
                      //- ng-model="$ctrl.formSta001.input.productBarcodes[$index]"
                      //- ng-model="$ctrl.productBarcodes[$index]"
                      //- ng-change="$ctrl.generate()")
              div(ng-class="{'col-lg-3': $ctrl.isProductBarcodesPreviewEnabled, 'col-lg-1': !$ctrl.isProductBarcodesPreviewEnabled}")
                ul.list-unstyled
                  li
                    button.btn.btn-default(
                      ng-show = "!$ctrl.isProductBarcodesPreviewEnabled",
                      ng-click = "$ctrl.isProductBarcodesPreviewEnabled = true; $ctrl.generate();")
                      | SHOW 
                      span.glyphicon.glyphicon-barcode(
                        aria-hidden = "true")
                    button.btn.btn-primary(
                      ng-show = "$ctrl.isProductBarcodesPreviewEnabled",
                      ng-click = "$ctrl.isProductBarcodesPreviewEnabled = false")
                      | HIDE 
                      span.glyphicon.glyphicon-barcode(
                        aria-hidden = "true")
                ul.list-unstyled.productBarcodesPreview.col-lg-12(
                  style = "background-color: black")
            div.col-lg-12
              button.btn.btn-primary(
                type = "submit"
                ng-show = "!$ctrl.isModeUpdate"
                ng-click = "$ctrl.createSta001()") create
              button.btn.btn-warning(
                type = "reset"
                ng-show = "!$ctrl.isModeUpdate"
                ng-click = "$ctrl.clearSta001()") clear
              button.btn.btn-primary(
                type = "submit"
                ng-show = "$ctrl.isModeUpdate"
                ng-click = "$ctrl.updateSta001()") update
              button.btn.btn-warning(
                type = "reset"
                ng-show = "$ctrl.isModeUpdate"
                ng-click = "$ctrl.clearSta001(); $ctrl.generateVisible = false") cancel